<%- include("partials/header") %>
<link rel="stylesheet" type="text/css" href="/styles/new-password.css">
<div class="container">
    <div class="reset-heading">Change Password</div>
    <form action="/new-password" method="POST">
        <input class="input-field" type="password" name="password" placeholder="Password">
        <input type="hidden" name="userId" value="<%= userId %>">
        <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
        <input class="reset-pass" type="submit" value="Update Password">
    </form>
</div>
<%- include("partials/footer") %>